{% extends 'base.html.twig' %}

{% block title %}
		{{ 'ftp.account'|trans }}
{% endblock %}


{% block body %}
<div class="page-header">
	<h1>{{ 'ftp.account'|trans }}</h1>
</div>
	<button type="button" class="btn btn-success btn-xs" aria-label="Add" onclick="location.href = location.href + '/add'">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'addUser'|trans }}
	</button>

	<table class="table">
		<thead>
			<th>{{ 'user.email'|trans }}</th>
			<th class="text-center">{{ 'user.fullname'|trans }}</th>
			<th class="text-center">{{ 'user.is_active'|trans }}</th>
			<th class="text-center">{{ 'user.is_admin'|trans }}</th>
			<th class="text-center">{{ 'ftpuser.access'|trans }}</th>
			<th class="text-center">{{ 'ftpuser.chroot'|trans }}</th>
			<th class="text-center">{{ 'ftpuser.homedirectory'|trans }}</th>
			<th class="text-center">{{ 'user.action'|trans }}</th>
		</thead>
		<tbody>
			{% for u in user %}
				<tr>
					<td>{{ u.user.email }}</td>
					<td class="text-center">{{ u.user.fullname }}</td>
					<td class="text-center">
						{% if u.user.isActive == 0 %}
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="Inactive">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						{% else %}
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="Active">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
						{% endif %}
					</td>
					<td class="text-center">
						{% if u.user.isAdmin == 0 %}
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="NoAdmin">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						{% else %}
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="Admin">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
						{% endif %}
					</td>
					<td class="text-center">
						{% if u.ftpuser.access == 'none' %}
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="NoReadRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'read'|trans }}</span>
							</button>
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="NoWriteRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'write'|trans }}</span>
							</button>
						{% elseif u.ftpuser.access == 'read' %}
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="ReadRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'read'|trans }}</span>
							</button>
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="NoWriteRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'write'|trans }}</span>
							</button>
						{% elseif u.ftpuser.access == 'write' %}
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="NoReadRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'read'|trans }}</span>
							</button>
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="WriteRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'write'|trans }}</span>
							</button>
						{% else %}
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="ReadRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'read'|trans }}</span>
							</button>
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="WriteRights">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">&nbsp;{{ 'write'|trans }}</span>
							</button>
						{% endif %}
					</td>
					<td class="text-center">
						{% if u.ftpuser.chroot != 1 %}
							<button disabled type="button" class="btn btn-danger btn-xs" aria-label="IsChrooted">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						{% else %}
							<button disabled type="button" class="btn btn-success btn-xs" aria-label="IsNotChrooted">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							</button>
						{% endif %}
					</td>
					<td class="text-center">
						{{ u.ftpuser.homedirectory }}
					</td>
					<td class="text-center">
						<button type="button" class="btn btn btn-default btn-xs" aria-label="Edit" onclick="location.href = location.href + '/edit/{{ u.user.email }}'">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>

						{% if app.user.email != u.user.email %}
							<button type="button" class="btn btn btn-danger btn-xs" aria-label="Delete" data-toggle="modal" data-target="#modalDel_{{u.user.id}}">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>

							<!-- Modal -->
							<div class="modal fade" id="modalDel_{{u.user.id}}" role="dialog">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header" style="text-align: center;">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ 'delUser'|trans }}</h4>
										</div>
										<div class="modal-body" style="text-align: center;">
											<p>{{ 'sureDelUser'|trans }}{{ 'colon'|trans }}&nbsp;{{ u.user.email }}{{ 'qmark'|trans }}</p>
										</div>
										<div class="modal-footer" style="text-align: center;">
											<button type="button" class="btn btn-primary" onclick="location.href = location.href + '/del/{{ u.user.email }}'">{{ 'del'|trans }}</button>
											<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans }}</button>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
