{% extends 'base.html.twig' %}

{% block title %}
        {{ 'overview'|trans }}
{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{{ 'msg.welcome'|trans }} {{ app.user.fullname }}</h1>
</div>

{% set progress_bar_color = 'success' %}
{% set progress_width = customer.pct_used %}

{% if customer.pct_used > 80 %}
{% set progress_bar_color = 'warning' %}
{% endif %}

{% if customer.pct_used > 95 %}
{% set progress_bar_color = 'danger' %}
{% endif %}

{% if customer.pct_used > 100 %}
{% set progress_width = 10000 / customer.pct_used %}
{% endif %}

<h2>{{ 'overview.quota' | trans }}&nbsp;:</h2>
<div class="progress" style="height: 48px;">
	<div class="progress-bar progress-bar-{{ progress_bar_color }}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_width }}%;">
	</div>
	{% if customer.pct_used > 100 %}
		<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 - progress_width }}%; background-repeat: repeat;">
		</div>
	{% endif %}
</div>

<span style="font-size: 2em">
{{ 'overview.using_space' | trans }} {{ customer.used_space_p }} / {{ customer.total_space_p }} = {{ customer.pct_used_p }}
</span>

{% endblock %}

